{% extends 'base.html' %}

{% block title %}{{ movie.title }}{% endblock %}

{% block content %}
    <div class="container my-5">
        <div class="card shadow-lg">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{ movie.image_url }}" alt="{{ movie.title }}" class="img-fluid" style="height: 100%; object-fit: cover;">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h2 class="card-title">{{ movie.title }} <small>({{ movie.year }})</small></h2>
                        <p class="card-text text-muted"><strong>Director:</strong> {{ movie.director }}</p>
                        <p class="card-text"><strong>Synopsis:</strong> {{ movie.synopsis }}</p>
                        <p><strong>⭐</strong> {{ average_rating if average_rating else 'Sin calificaciones' }}</p>
                        <p><strong>Total de ratings:</strong> {{ total_ratings }}</p>
                        <form action="{{ url_for('add_to_favorites', movie_id=movie['id']) }}" method="POST" class="mt-3">
                            <button class="btn btn-outline-danger">Agregar a Favoritos</button>
                        </form>
                        



                        <!-- Formulario para agregar película a una lista personalizada -->
                        <form method="POST" action="{{ url_for('add_to_list') }}">
                            <div class="form-group">
                                <label for="list_id">Agregar a una Lista</label>
                                <select name="list_id" class="form-control" required>
                                    {% for custom_list in custom_lists %}
                                        <option value="{{ custom_list['id'] }}">{{ custom_list['name'] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <input type="hidden" name="movie_id" value="{{ movie['id'] }}">
                            <button type="submit" class="btn btn-primary">Agregar</button>
                        </form>
                        

                        
            
                        <!-- Formulario de rating -->
                        {% if session.get('user_id') %}
                            {% if user_already_rated %}
                                <p><strong>Ya has calificado esta película.</strong></p>
                            {% else %}
                                <form method="POST" class="mt-3">
                                    <label for="rating"><strong>Calificar esta película:</strong></label><br>
                                    {% for star in range(1, 6) %}
                                        <input type="radio" id="star{{ star }}" name="rating" value="{{ star }}">
                                        <label for="star{{ star }}">{{ star }} ⭐</label>
                                    {% endfor %}
                                    <button type="submit" class="btn btn-primary btn-sm mt-2">Enviar Rating</button>
                                </form>
                            {% endif %}
                        {% else %}
                            <p><a href="{{ url_for('login') }}">Inicia sesión</a> para calificar esta película.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-5">
        <div class="my-4">
            <h3>Comentarios:</h3>
            {% for comment in comments %}
                <div class="border p-3 mb-2">
                    <p>Por <strong>{{ comment.username }}</strong> el <small class="text-muted">({{comment.created_at}})</small> </p>
                    <p>{{ comment.comment }}</p>

                    {% if session.get('user_id') == comment.user_id %}
                        <a href="{{ url_for('edit_comment', movie_id=movie.id, comment_id=comment.id) }}" class="btn btn-warning btn-sm">Editar</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center mt-3">
                {% if page > 1 %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('movie_detail', movie_id=movie['id'], page=page-1) }}">Anterior</a>
                </li>
                {% endif %}
        
                {% for p in range(1, total_pages + 1) %}
                <li class="page-item {% if p == page %}active{% endif %}">
                    <a class="page-link" href="{{ url_for('movie_detail', movie_id=movie['id'], page=p) }}">{{ p }}</a>
                </li>
                {% endfor %}
        
                {% if page < total_pages %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('movie_detail', movie_id=movie['id'], page=page+1) }}">Siguiente</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        
        <h4>Agregar un comentario</h4>
        <form method="POST">
            <div class="form-group">
                <textarea class="form-control" name="comment" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Agregar comentario</button>
        </form>
    </div>

{% endblock %}