{% extends 'base.html' %}

{% block title %}{{ movie.title }}{% endblock %}

{% block content %}
    <div class="container my-5">
        <div class="card shadow-lg">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{ movie.image_url }}" alt="{{ movie.title }}" class="img-fluid" style="height: 100%; object-fit: cover;">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h2 class="card-title">{{ movie.title }} <small>({{ movie.year }})</small></h2>
                        <p class="card-text text-muted"><strong>Director:</strong> {{ movie.director }}</p>
                        <p class="card-text">
                            <span class="badge badge-primary">{{ movie.genre }}</span>
                        </p>
                        <p class="card-text"><strong>Synopsis:</strong> {{ movie.synopsis }}</p>
                        <a href="{{ url_for('movies_list') }}" class="btn btn-primary mt-4">Regresar a la lista</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
